.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0.742), rgba(0, 140, 255, 0.616)); */
   
}
body{
    /* background:url("../img/thiz.gif") no-repeat center center fixed; */
    background:#000 ;
    background-size: cover;
    /* background:url(../img/playbg.gif) no-repeat center center fixed; */
background-size: cover;
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background: transparent;
    border-radius: 20px;
}


::-webkit-scrollbar{
    background: transparent;
    width: 1px;
}
body{
    scroll-behavior: smooth;
    margin: 0;
    overflow: hidden;
    /* background:linear-gradient(to bottom right, #020264, #080); */
}
aside{
    width: 80px;
    min-width: 80px;
    /* box-shadow: 2px 3px 4px #0000001d; */
    margin: 5px;
    transition: all 400ms ease;
    position: relative;
    overflow: hidden;
    padding: 5px;
    /* background:linear-gradient(to bottom right, #020264, #080); */

}
main{
    width: 100%;
    margin: 5px;
    box-shadow: 2px 3px 4px #00000023;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(to right, rgb(2, 2, 99, 0.8), rgba(0, 128, 0, 0.8)); */

}
.expand{
    width: 300px;
    min-width: 300px;
}
#collapse{
    position: absolute;
    right: 1px;
    /* padding: 5px; */
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: transparent;
    outline: none;
    /* box-shadow: 2px 3px 3px #ccc; */

    border-style: none;
}
#collapse:hover{
    background: rgba(0, 0, 0, 0.122) ;
    /* border-left:2px solid rgba(0, 128, 0, 0.701) ; */

}
#collapse .fa-solid{
    font-size: 10px;
    /* color: #0022ff; */
    transform: all 400ms ease;
}
.logo{
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-bottom: 2px solid #ccc;
}
.logo img{
    width: 60px;
    height: 60px;
}
 .out{
    font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
    text-transform: uppercase;
    background: linear-gradient(to right, rgb(2, 2, 99), green);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    display: none;
}
.in{
    display: block;
}
a{
    text-decoration: none;
    font-family: sans-serif;
}
nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10px;
}
.icon-color{
    background: linear-gradient(to right, rgb(2, 2, 99), green);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.icon-color2{
    background: #fff;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.icon-size{
    font-size: 20px;
}
.nav-cl{
    color: #9b9a9a;
    font-size: 16px;
    margin-left: 16px;
    display: none;
}
.nav-cl.in{
    display: block;
}
nav a{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 20px;
    border-bottom:2px solid transparent ;
    border-radius: 5px;
}
nav a:hover{
    background: rgba(0, 0, 0, 0.1);
    border-bottom:2px solid rgba(0, 128, 0, 0.216) ;
}
.ml-2{
margin-left: 25px;
}
.ml-1{
margin-left: 15px;

}
header{
    width: 100%;
    height: 50px;
    /* background: green; */
    position: relative;
    display: flex;
    align-items: center;
    /* box-shadow: 2px 3px 4px #ccc; */
}
header a{
    position: absolute;
    right: 20px;
    background: linear-gradient(to right, rgb(2, 2, 99, 0.8), rgba(0, 128, 0, 0.8));
    padding: 5px 10px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 20px;
}
header a:hover{
    background: linear-gradient(to right, #020264, #008000);

}
.contents{
width: 100%;
height: calc(100% - 50px);
overflow-y: scroll;


/* margin-left: 20px; */
}
/* .glb{
    background:url(../img/thiz.gif) no-repeat center center fixed;
    background-size: cover;
} */
h2{
    font-family: sans-serif;
}
.icon-color4{
    background: linear-gradient(to right bottom, rgb(2, 2, 99) 20%, green 80%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 40px;
}
.boxes{
    width: 90%;
    height: 200px;
    display: flex;
    align-items: center;
    clear: both;
    margin: 0 50px;
    gap: 10px;
    transition: all 400ms ease;
    border-bottom: 2px solid #cccccc44;

    /* overflow-y: scroll;
    overflow-x:hidden; */
}
.box{
    width: 100%;
    height: 150px;
    /* background: url(../img/patterns.png) no-repeat #fff;
    background-size:contain ;
    background-position: 180px; */
    background: linear-gradient(to right, #008000, #020264);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 2px;
    border-radius: 5px;
    font-family: sans-serif;
    transition: all 400ms ease;
    transform: translateY(0);
    cursor: pointer;

}
.box:hover{
    animation: bounce 2s ease infinite forwards 10ms;
    /* background: rgba(0, 128, 0, 0.1); */
    /* box-shadow: 2px 3px 6px #1f1f1f52; */
    box-shadow: 2px 1px 4px #008000, -2px -1px 4px #020264dc;
    /* background: linear-gradient(to right, #008000, #020264); */
    color: #fff;

    /* background: url(../img/patterns.png) no-repeat rgba(0, 128, 0, 0.1); */
    /* background-size:contain ;
    background-position: 180px; */
    transition: all 2s ease;
}

@keyframes bounce {
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(0);

    }
    100%{
        transform: translateY(10px);
    }
}
.box h5{
    margin-top: 0;
}
.box .num{
    font-size: 30px;
    margin-top: -20px;
    font-weight: 800;
}
/* ------------------------aboyt---------------------- */
.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
}
.ab-cont{
    width: 50%;
    background: linear-gradient(to right, transparent , transparent);
    border-radius: 20px;
    margin-left: -50px;
    backdrop-filter: blur(10px);

}
.ab-cont h1{
    font-size: 30px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-right: 20px;
    padding: 30px;
    background: linear-gradient(to right, rgb(2, 2, 99), green);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 600;
    /* text-shadow: 2px 1px 1px #8273737b; */
    /* background: #fff; */
    /* text-align: center; */
}
.ab-cont p{
    padding: 30px;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
    margin-right: 20px;
    color: #696868;
    /* text-shadow: 1px 2px 2px #000; */

    /* text-align: justify; */
}
.ab-img{
    width: 550px;
    height: 550px;
    overflow: visible;
    /* margin-left: 50px; */
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateX(45deg);
    animation: rotate 6s linear;
    transition: all 400ms ease;
    /* transform-origin: bottom; */
}
.abtme{
    width: 450px;
    height: 450px;
    background: url(../img/bg2.jpg) no-repeat;
    background-size: cover;
    border-radius: 50%;
    background-position: 0 -60px;
    box-shadow: 2px 3px  4px rgba(2, 2, 99, 0.671),
     -2px -3px  4px rgba(0, 128, 0, 0.493),
     -2px 6px 40px rgba(0, 128, 0, 0.527),
     2px -3px 50px rgba(2, 2, 99, 0.61);
    transform-style: preserve-3d;
    filter: drop-shadow(2px 2px 3px #000000);
    margin-top: -20px;
    /* overflow: visible; */
    transition: all 400ms ease;
    /* transform: rotate(360deg); */
}
.abtme:hover{
    animation: shadowchange 2s linear infinite ;
    /* transform: perspective(1000px) rotateX(45deg); */


}
@keyframes shadowchange {
    from{
        box-shadow: 2px 3px  4px rgba(0, 128, 0, 0.493),
     -2px -3px  4px rgba(2, 2, 99, 0.671),
     2px -3px 50px rgb(235, 14, 14),
     -2px 6px 40px rgb(0, 255, 0)
     ;
     transform: rotate(0);
    }
    to{
        box-shadow: 2px 3px 4px gold,
        -2px -3px 4px goldenrod,
        -2px 4px 30px green,
        2px 4px 30px rgb(2, 2, 99);
        transform: rotate(360deg);

    }
  
}
.btn2{
    width: 300px;
    height: 50px;
    margin-left: 30px;
    border-radius: 50px;
    border-style: none;
    color: #fff;
    box-shadow: 2px 3px 1px #00f72563;
    background: linear-gradient(to right, rgb(2, 2, 99, 0.8), rgba(0, 128, 0, 0.8));

}
@keyframes rotate {
    from{
        transform: rotateY(0)  perspective(1000px) ;
        transition: all 400ms ease;

    }
    to{
        transform: rotateY(360deg)  perspective(1000px) ;
        transition: all 400ms ease;

    }
    /* 100%{
        transform: rotate(360deg);
    } */
}
.top{
    margin-top: 100px;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 20px;
    background: linear-gradient(to bottom, rgb(2, 2, 99), green);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.top-crypto{
    padding: 10px;
    margin-left: 10px;
    display: grid;
    grid-column: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3rem;
    width: 95%;
}
.coins{
    width: 100%;
    background: rgba(255, 255, 255, 0.584);
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    /* border: 5px solid #020264; */
    margin-top: 30px;
}
.coins:hover{
    box-shadow: 2px 3px 4px #272626a8, -2px -3px 4px #ccccccbc;
}
.coin-header{
    width: 100%;
    height: 50px;
   border-bottom: 2px solid #ccc;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background: linear-gradient(to right, rgb(2, 2, 99), green);
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
}
.icon-color3{
    background: linear-gradient(to right, rgb(2, 2, 99), green);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 600;
}
.coin-det{
    /* background: #fff;     */
    height: calc(100% - 30px);
}
/* ------------------latest------------------------------- */
.latest{
    margin-top: 50px;
}
.latest-header{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 30px;
    background: linear-gradient(to top, rgb(2, 2, 99), green);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.bg-primary{
    background: linear-gradient(to right, rgb(2, 2, 99), green);
}
/* -------------------------------------latest news--------------------------------------------- */
.news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    padding: 20px;
}
.news-content{
    /* background: green; */
    border: 2px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    margin-top: 30px;
    background: #ffffff39;
    backdrop-filter: blur(20px);

}
.news-content:hover{
    box-shadow: 2px 3px 4px #000;
}
.img-space{
    width: 100%;
    height: 200px;
    background: url(../img/abt2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid #cccccc82;

}
.th-head{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    background: linear-gradient(to right, rgb(2, 2, 99), green);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.uit{
    padding: 10px;
    color: #000;
    font-weight: 500;
    max-height: 100px;
    text-overflow: ellipsis;
    /* background: #fff; */
}
.more{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 30px;
}
.more button{
    width: 300px;
    height: 100%;
    border-radius: 50px;
    border-style: none;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}
.new-letter{
    margin: 50px 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.new-l_cont{
    font-size: 30px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 600;
}
.news-let-input input{
    width: 500px;
    height: 50px;
    padding: 10px;
    outline: none;
    border: transparent;
    background: #ffffffa2;

}
.news-let-input button{
    width: 100px;
    height: 50px;
    padding: 10px;
    outline: none;
    border: transparent;
    color: #fff;
}
.news-let-input{
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #ccc;
    box-shadow: 2px 3px 4px #1e1d1d, -2px -3px 4px #eee;
}
.footer{
    background: url(../img/patterns1.png) no-repeat #ffffff6d;
    background-position: 1000px;

}
footer{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center ;
    justify-content: center;
    border-top: 2px solid #ccc;
}
footer p{
    font-size: 16px;
    padding: 10px;
    text-transform: capitalize;
    font-weight: 800;
}
.siiec{
    width: 500px;
}



/* -----------------------------connect section----------------------------------- */
.connect-body{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    /* background: blue; */
}
.connect-search{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #fff; */
    padding: 20px;
}
.connect-search input{
    width: 300px;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    border:1px solid #2323234e;
    outline: none;
    background: #ffffff49;
    backdrop-filter: blur(20px);
    box-shadow: 2px 3px 4px #2a2a2a5f;

}
.wallets{
    /* height: calc(100% - 60px); */
    min-height: fit-content;
    width: fit-content;
    clear: both;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    /* background: gray; */
    box-sizing: border-box;
}
.wallet-box{
    width: 220px;
    height: 100px;
    background: hsla(0, 0%, 100%, 0.068);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    box-shadow: 2px 3px 4px #ffffff42;
    margin: 10px;
    gap: 1rem;
    border-radius: 10px;
}
.wallet-box .image{
    /* background: green; */
    display: flex;

    align-items: center;
}
/* .conbox{
    background: #0e0d0d31;
    z-index: 0;
    width: 270px;
    left: 0;
    height: 120px;
    top: 0;
    position: absolute;
} */
.color-gold{
    color: gold;
    font-size: 13px;
    text-shadow: 1px 2px 3px goldenrod;
}
.cname{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.wname{
    font-weight: 600;
    font-size: 15px;
    text-transform: capitalize;
    color: #fff;
}
.ratings{
    margin-top: -13px;
    padding: 2px;
    margin-bottom: 6px;
}
.btitle{
    width: 100px;
    height: 25px;
    border-radius: 4px;
    outline: none;
    border-style: none;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    box-shadow: 2px 3px 4px #00000056, -2px -3px 4px #e9e9e95b;
    background: transparent;
    color: #9c9a9a;

}
.btitle:hover{
    background: #0000004d;
    border-bottom: 2px solid #070707;
    border-bottom-style: groove;


}
.btitle .ges{
    animation: mvu 1s ease infinite;
    font-weight: 800;
}
@keyframes mvu {
    0%{
        margin-left: 10px;
    }
    50%{
        margin-left: 0;
    }
    100%{
        margin-left: 10px;
    }
}
/* _____________Crypto currencies----------------------------- */
.crypto_main{
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
    gap: .5rem;
    overflow-y: scroll;
}
.crypt-box{
    width: 90%;
    background: #00000093;
    height: 40px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 3px 4px #0000004b;
    border-radius: 10px;
    border:2px solid transparent;
}
.crypt-box:hover{
    border: 2px solid green;
    box-shadow: 2px 1px 4px #00800050, -2px -1px 4px #0202644f;

}
.image_name{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    /* background: green; */
}
.price{
    width: 200px;
    text-align: left;
    color: #ffffffb0;
}
.marketcap{
    color: #ffffffb0;
}
.daily-change{
    color: #ffffffb0;
}
.crypto-img{
    width: 25px;
    height: 25px;
    overflow: hidden;
}
.crypto-img img{
    width: 100%;
}
.mr{
    margin-right: 10px;
}
.hidden {
    display: none;
  }